body {
    background: #6fe0248f;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px 0;
}

.container {
    width: 85%;
    max-width: 750px;
    margin: auto;
    background: rgba(227, 255, 209, 0.781);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.bloco {
    background: #e9f3e3;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 25px;
    border-left: 6px solid #c5c5c5;
}

.bloco h2 {
    margin-top: 0;
    margin-bottom: 10px;
}


.integrante {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 15px;
    gap: 20px;
}

.integrante img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #ccc;
}

.integrante .info p {
    margin: 5px 0 0 0;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #666;
}
