@font-face { 
    font-family: 'AndyBold';
    src: url(../Andy-Bold/ANDYB.TTF);
}
@font-face {
    font-family: 'Momo_Signature';
    src: url(../Story_Script/StoryScript-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 50;
    margin-bottom: 2%;
}

.cabecalho .logo {
    font-size: 2rem;
}

.cabecalho nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 1.1em;
    transition: 0.3s;
}

.cabecalho nav a:hover {
    color: #ccefc6;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #66d069;
    transform: scale(1.05);
}

header {
    position: relative;
}

#favoritar {
    position: absolute;
    right: 2%;
    top: 24%
}