.container {
    background: rgb(255, 255, 255);
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

ul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

li {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.remove {
    color: red;
    cursor: pointer;
    font-weight: bold;
}

.botoes {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.botoes button {
    margin-right: 2%;
}
