body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.primeiro {
    margin-top: 10px;
}

/* --- BARRA LATERAL --- */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #6cff47;
    color: white;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
    border-left: 3px solid transparent;
}

/* HOVER */
.sidebar ul li a:hover {
    background-color: rgb(196, 231, 180);
    border-left: 3px solid black;
}

.sidebar ul li.sair {
    margin-top: auto;  /* empurra para o final da coluna */
}

.conteudo {
    margin-left: 250px;
    padding: 20px;
}

.link-logout {
    position: absolute;
    bottom: 20px;
    width: 100%;
}
