body {
    background-color: rgb(216, 240, 205);
    color: #333;
    font-family: 'AndyBold', sans-serif;
    scroll-behavior: smooth;
}

.primeiro {
    margin-top: 10px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 2%;
    width: 250px;
    height: 100%;
    background-color: #4CAF50;
    color: white;
    padding-top: 20px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
    border-left: 3px solid transparent;
}

.sidebar ul li a:hover {
    background-color: rgb(139, 173, 123);
    border-left: 3px solid black;
}

.sidebar ul li.sair {
    margin-top: auto;
}

.conteudo {
    margin-left: 120px;
    padding: 20px;
}

.link-logout {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

#btnLogout {
    cursor: pointer;
}

header {
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 50;
}

header .logo {
    font-size: 2rem;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 1.1em;
    transition: 0.3s;
}

header nav a:hover {
    color: #ccefc6;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #66d069;
    transform: scale(1.05);
}